/*
* {
	border: 1px dotted red !important;
}
*/
body {
	font-family: 'Cabin Condensed', sans-serif;
}

section {
	width: 1000px;
}

article#production {
	width: 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
	text-transform: uppercase;
	font-size: 150%;
	margin: 0;
}

nav {
	margin-bottom: 0px;
}

.glowing-research {
	-webkit-animation: neon5 1.5s ease-in-out infinite alternate;
	-moz-animation: neon5 1.5s ease-in-out infinite alternate;
	animation: neon5 1.5s ease-in-out infinite alternate;
}

.resource-display {
	position: relative;
	display: flex;
	padding: 5px;
	background: repeating-linear-gradient(
  45deg,
  #bcb360,
  #bcb360 10px,
  #2b2c2e 10px,
  #2b2c2e 20px
);
}

.resource-display > div {
	background-color: rgba(252, 249, 249, 0.85);
	border: 2px solid black;
	border-radius: 5px;
	padding: 0px 10px 0px 5px;
	margin-right: 10px;
	width: 130px;
	height: 40px;
	display: flex;
	align-items: center;
	font-size: 1.5em;
}

.resource-display > div > div.tooltip {
	position: relative;
}

.resource-display div>img {
	
	max-height: 35px;
	margin-right: 5px;
}

.buildings-container {
	display: flex;
	width: 1000px;
	justify-content: space-between;
}

.basic-buildings {
	display: flex;
	width: 500px;
	align-content: flex-start;
	flex-wrap: wrap;
}

.advanced-buildings {
	display: flex;
	width: 500px;
	align-content: flex-start;
	flex-wrap: wrap;
}

.ProductionLine {
	margin-bottom: 10px;
	width: 490px;
	height: 120px;
	border-style: solid;
	border-width: 1px;
	display: flex;
	justify-content: space-between;
}

.ProductionLine button {
	font-size: 100%;
}

.cost {
	max-height: 100%;
}

.float-left-item {
	float: left;
}

.float-right-item {
	float: right;
}

.building-icon {
	position: relative;
	width: 90px;
	padding-left: 10px;
	height: 100%;
}

.building-icon img {
	max-height: 75px;
	max-width: 75px;
	pointer-events: none;
}

.production-icon {
	width: 75px;
	height: 75px;
}

.manual-float-value {
	position: absolute;
	bottom: 50px;
	color: black;
	padding: 5px;
	display: none;
	align-items: center;
	justify-content: center;
	width: 100px;
	animation-name: stretch;
  	animation-duration: 1.3s; 
	animation-timing-function: ease-out; 
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running;
	opacity: 1;
}

.insufficient-resources-float {
	position: absolute;
	left: 50px;
	color: red;
	animation: stretch;
	animation-duration: 1.3s; 
	animation-timing-function: ease-out; 
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: 1;
	animation-fill-mode: none;
	animation-play-state: running;
	opacity: 1;
	display: none;
}
.manual-float-value img {
	max-height: 20px;
	margin-right: 5px;
}

.building-ui {
	float: left;
	height: 120px;
	width: 250px;
}

.building-ui-top {
	height: 40px;
}

.building-ui-middle {
	height: 40px;
	display: flex;
	align-content: flex-start;
}

.building-ui-middle button {
	max-height: 30px;
}

.building-ui-middle div {
	height: 30px;
	padding: 0px;
	position: relative;
	margin: 0px;
}

button.raze {
	color: white;
	background: repeating-linear-gradient(
		45deg,
		#bcb360,
		#bcb360 10px,
		#2b2c2e 10px,
		#2b2c2e 20px
	  );
	position: relative;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	height: 30px;
}

.building-ui-bottom {
	position: relative;
	display: flex;
	height: 30px;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
}

.building-ui-bottom div img {
	max-height: 25;
	margin-right: 5px;
}

.progress-bar-frame {
	width: 150px;
	text-align: center;
	line-height: 25px;
	height: 25px;
	border-style: solid;
	border-width: 1px;
	position: relative;
}

.progress-bar {
	height: 25px;
	width: 0;
	background-color: gray;
}

.buildings-attachments {
	float: right;
	height: 100%;
}

.buildings-attachments-items {
	height: 30px;
	font-size: 120%;
	margin-right: 5px;
}

.attachment-image {
	width: 26px;
	height: 26px;
	margin-right: 5px;
}

.devTools {
	margin-top: 20px;
}

.devTools > button#cheat {
		background-color: green;
		color: white;
		font-size: 150%;
		float: left;
}

.devTools > button#reset {
		background-color: red;
		color: white;
		font-size: 150%;
		float: left;
}

.devTools > button#cheat-science {
	background-color: blue;
	color: white;
	font-size: 150%;
	float: left;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	font-size: 1.5em;
	font-family: 'Cabin Condensed', sans-serif;
	text-transform: uppercase;
}



/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;

    border: 1px solid #ccc;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tooltip {
	position: relative;
}

.tooltip div.tiptext {
    font-size: 15px;
    position:absolute;
    z-index: 999;
	white-space:pre-wrap;
	width: 200px;
    bottom:9999px;
    left: 100%;
    background:#000;
    color:#e0e0e0;
	padding:10px;
	border: 2px ridge silver;

     
    opacity: 0; 
    transition:opacity 0.4s ease-out; 
    }       
         
.tooltip:hover div.tiptext {
    opacity: 1;
	bottom:-35px;
}


	
.tooltip div.tiptext h1 {
	margin: 5px;
	font-size: 20px;
	color: gold;
	border-bottom: 1px solid silver;
}


@keyframes stretch {
	0% {
	  transform: scale(.9) translate(0, -10px;);
	}
	100% {
	  transform: scale(1.2) translate(0, -50px);
	  transition: opacity 1s ease-in;
	}
}

@-webkit-keyframes neon5 {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
	  }
	  to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
	  }
	}

  @-moz-keyframes neon5 {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
	  }
	  to {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
	  }
	}

  @keyframes neon5 {
	from {
		text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 70px #B6FF00;
	  }
	  to {
		text-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #fff, 0 0 10px #B6FF00, 0 0 18px #B6FF00, 0 0 20px #B6FF00, 0 0 25px #B6FF00, 0 0 38px #B6FF00;
	  }
	}